:root {
  padding: 0;
  margin: 0;
}
.main {
  background-image: url("https://i.gifer.com/7N1e.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

html,
body {
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
  width: 100%; /* Ensures full width */
  height: 100%; /* Ensures full height */
  overflow: hidden; /* Prevents scrolling if any content exceeds the viewport */
}
.custom-icon {
  background: none; /* Remove any background */
  border: none; /* Remove borders if applied */
  border-radius: 50%; /* Optional: Make it circular */
}
